<launch>
 
    <include file="./src/sa-bsn/configurations/knowledge_repository/data_access.launch" /> <!-- KNOWLEDGE REPOSITORY -->

    <include file="./src/sa-bsn/configurations/system_manager/strategy_manager.launch" /> <!-- MANAGER SYSTEM -->
    <include file="./src/sa-bsn/configurations/system_manager/strategy_enactor.launch" /> <!-- MANAGER SYSTEM -->

    <include file="./src/sa-bsn/configurations/logging_infrastructure/logger.launch" /> <!-- LOGGING INFRASTRUCTURE -->

    <include file="./src/sa-bsn/configurations/target_system/probe.launch" />  <!-- APPLICATION -->
    <include file="./src/sa-bsn/configurations/target_system/effector.launch" /> <!-- APPLICATION -->
    <include file="./src/sa-bsn/configurations/target_system/g4t1.launch" /> <!-- APPLICATION -->

    <include file="./src/sa-bsn/configurations/environment/patient.launch " /> <!-- APPLICATION -->

    <include file="./src/sa-bsn/configurations/target_system/g3t1_1.launch" /> <!-- APPLICATION -->
    <include file="./src/sa-bsn/configurations/target_system/g3t1_2.launch" /> <!-- APPLICATION -->
    <include file="./src/sa-bsn/configurations/target_system/g3t1_3.launch" /> <!-- APPLICATION -->
    <include file="./src/sa-bsn/configurations/target_system/g3t1_4.launch" /> <!-- APPLICATION -->
    <include file="./src/sa-bsn/configurations/target_system/g3t1_5.launch" /> <!-- APPLICATION -->
    <include file="./src/sa-bsn/configurations/target_system/g3t1_6.launch" /> <!-- APPLICATION -->

    <!--<include file="./src/sa-bsn/configurations/simulation/injector.launch" /> <!-- FAULT INJECTION -->

</launch>